<div class="container" id="my-container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
         <strong>Resend confirmation instructions</strong>
      </div>
      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, value: (get_resource_email resource), class: 'form-control', placeholder: 'Enter your email' %>
          </div>
          <div class="actions">
            <%= f.submit 'Resend confirmation instructions', class: 'btn btn-primary center-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

