<div class='modal fade' id='imagemodal'>
 <div class='modal-dialog'>
   <div class=''>
     <div class='modal-body'>
       <%= image_tag '', class: 'imagepreview' %>
     </div>
   </div>
 </div>
</div>
