<div id=movie-data data-overall-rating=<%= @movie.average_rating %> class='hidden' ></div>
<% if user_signed_in? %>
  <%= rating_div %>
<% else %>
  <%= link_to 'Login to rate', new_user_session_path %>
<% end %>
