#my-container {
  margin-top: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: radial-gradient(white, rgba(199, 199, 199, 0.431373));
}

.thumbnails {
  width: 75px;
  height: 55px;
}

.table tbody > tr > td .vert-align {
  vertical-align: middle;
}

.movie-font {
  font-family: monospace;
}

.default-btn {
  border: none;
}

.my-form-fields > .fields {
  display: inline-block;
}

div .field select {
  height: 120px;
  width: 115px;
}

.form-group > .cktxt {
  width: 100%;
}

.background-banner {
  background-image: url('background.jpg')
}

.clearfix-margin-10 {
  margin-bottom: 10%;
}

.clearfix-margin-5 {
  margin-bottom: 5%;
}

.pagination {
  margin-left: 37%;
}

hr {
  border-color: gray;
}

#reviews {
  overflow-wrap: break-word;
}

#favourite-btn {
  margin-left: 25%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

iframe {
  width: 100%;
}

.margin-top-5 {
  margin-top: 5px;
}

.latest-movies {
  display: inline-block;
}

hr {
  border-color: gray;
}

#storyline > p {
  all: inherit;
  display: inline;
  margin-top: 5%;
}

.index-images {
  box-shadow: 10px 5px 6px #888888;
  max-height: 100%;
  max-width: 100%;
}

.block-inline {
  display: inline;
}

.top-margin-2 {
  margin-top: 2%;
}

.link-class:hover {
  text-decoration: none;
}

.btn-radius-0 {
  border-radius: 0px;
}

.btn-width-50 {
  width: 50%;
}

.top-margin-6 {
  margin-top: 6%;
}
