#my-container {
  margin-top: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: radial-gradient(white, rgba(199, 199, 199, 0.431373));
}

.thumbnails {
  width: 75px;
  height: 55px;
}

.table tbody > tr > td .vert-align {
  vertical-align: middle;
}

.movie-font {
  font-family: monospace;
}

.default-btn {
  border: none;
}

.my-form-fields > .fields {
  display: inline-block;
}

div .field select {
  height: 120px;
  width: 115px;
}

.form-group > .cktxt {
  width: 100%;
}

.background-banner {
  background-image: url('background.jpg')
}

.clearfix-margin-10 {
  margin-bottom: 10%;
}

.clearfix-margin-5 {
  margin-bottom: 5%;
}

.pagination {
  margin-left: 37%;
}

hr {
  border-color: gray;
}

#reviews {
  overflow-wrap: break-word;
}

#favourite-btn {
  margin-left: 25%;
}
